
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h2>List All Citizens and Their Kingdoms</h2>

<ul>
  <% @citizens.each do |citizen| %>
    <li> Citizen : <a href="/citizens/<%= citizen.slug %>"><%= citizen.name %></a>, <%= citizen.role %>
      <ul>
        <% citizen.kingdoms.each do |kingdom| %>
          <li><a href="/kingdoms/<%= kingdom.slug %>"><%= kingdom.name %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
