
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h1>Create New Citizen</h1>

<h4><%= @message %><h4>

<form action="/citizens" method="POST">

  Citizen Name : <input type="text" id="name" name="name" placeholder="Name required"><br>
  Citizen Role : <input type="text" id="role" name="role" placeholder="Role required"><br>
  <br>

  <!-- Can only add citizen to user's kingdoms -->
  <% user_kingdoms = [] %>
  <% @kingdoms.each do |kingdom| %>
    <% if kingdom.user_id == current_user.id %>
      <% user_kingdoms << kingdom %>
    <% end %>
  <% end %>

  Add Citizen to Your Existing Kingdom(s):
  <ul>
    <% user_kingdoms.each do |kingdom| %>
      <li><input type="checkbox" name="kingdom_ids[]" id="<%=kingdom.id%>" value="<%=kingdom.id%>"><%=kingdom.name%></input></li>
    <% end %>
  </ul>

  <br>
  <input type="submit" id="submit" value="Create Citizen">
</form>
