
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h1>Edit/Update Citizen</h1>

<h4><%= @message %><h4>

<form action="/citizens/<%= @citizen.slug %>" method="POST">

  Citizen Name : <input type="text" id="name" name="name" value="<%= @citizen.name %>"><br>
  Citizen Role : <input type="text" id="role" name="role" value="<%= @citizen.role %>"><br>
  <br>

  Change which of your existing kingdom(s) this citizen is part of:
  <ul>
    <% current_user.kingdoms.each do |kingdom| %>
      <li><input type="checkbox" name="kingdom_ids[]" id="<%=kingdom.id%>" value="<%=kingdom.id%>" <%='checked' if @citizen.kingdoms.include?(kingdom) %>><%=kingdom.name%></input></li>
    <% end %>
  </ul>

  <br>
  <input type="submit" id="submit" value="Edit/Update Citizen">
</form>
<br>
<form action="/citizens/<%= @citizen.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Citizen">
</form>
