
<h1>Edit/Update Citizen</h1>

<h4><%= @message %><h4>

<form action="/citizens/<%= @citizen.slug %>" method="POST">

  Citizen Name : <input type="text" id="name" name="name" value="<%= @citizen.name %>"><br>
  Citizen Role : <input type="text" id="role" name="role" value="<%= @citizen.role %>"><br>
  <br>

  Change which of your existing kingdom(s) this citizen is part of:
  <% user_kingdoms = [] %>
  <% @kingdoms.each do |kingdom| %>
    <% if kingdom.user_id == current_user.id %>
      <% user_kingdoms << kingdom %>
    <% end %>
  <% end %>

  <ul>
    <% user_kingdoms.each do |kingdom| %>
      <li><input type="checkbox" name="kingdom_ids[]" id="<%=kingdom.id%>" value="<%=kingdom.id%>" <%='checked' if @citizen.kingdoms.include?(kingdom) %>><%=kingdom.name%></input></li>
    <% end %>
  </ul>

  <br>
  <input type="submit" id="submit" value="Edit/Update Citizen">
</form>

<form action="/citizens/<%= @citizen.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Citizen">
</form>
