<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h1>Edit/Update Specific Outfit</h1>

<form action="/outfits/<%= @outfit.slug %>" method="POST">
  Outfit Name : <input type="text" id="name" name="name" value="<%= @outfit.name %>"><br>
  Outfit Style : <input type="text" id="outfit_style" name="outfit_style" value="<%= @outfit.outfit_style %>"><br>
  <br>
  <input type="submit" id="submit" value="Edit/Update Outfit">
</form>
<br>

<form action="/outfits/<%= @outfit.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Outfit">
</form>
