<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h2>Show All Outfits and Their Owners</h2>

<ul>
  <% @outfits.each do |outfit| %>
    <li>Outfit : <a href="/outfits/<%= outfit.slug %>"><%= outfit.name %></a>, <%= outfit.outfit_style %> || Owner : <a href="/users/<%= outfit.user.slug %>"><%= outfit.user.username %></a></li>
  <% end %>
</ul>
