
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h1>Show Specific User/Ruler</h1>


<!-- Show User Info -->

<% if @user.id == current_user.id %>
  <h4>Welcome <%= @user.username %>,</h4>
  <h4>You currently have <%= @user.kingdoms.count %> Kingdom(s)!</h4>
  <a href="/kingdoms/new">Create New Kingdom</a>
  OR
  <a href="/outfits/new">Create New Outfit</a>
<% else %>
  <h3><%= @user.username %> currently has <%= @user.kingdoms.count %> Kingdom(s)!</h3>
<% end %>

<!-- Show User Kingdoms -->
<h4>Current List of Kingdoms</h4>
<ul>
  <% if @user.kingdoms.count > 0 %>
    <% @user.kingdoms.each do |kingdom| %>
      <li><a href="/kingdoms/<%= kingdom.slug %>"><%= kingdom.name %></a></li>
    <% end %>
  <% else %>
    <li>No Kingdoms Currently!</li>
  <% end %>
</ul>

<!-- Show User Outfits -->
<h4>Current List of Outfits</h4>
<ul>
  <% if @user.outfits.count > 0 %>
    <% @user.outfits.each do |outfit| %>
      <li><a href="/outfits/<%= outfit.slug %>"><%= outfit.name %></a>, <%= outfit.outfit_style %></a></li>
    <% end %>
  <% else %>
    <li>No Outfits Currently!</li>
  <% end %>
</ul>
