<h1>Edit/Update Specific Kingdom</h1>


<form action="/kingdoms/<%= @kingdom.slug %>" method="POST">

  <!-- Edit Kingdom Info -->

  Kingdom Name : <input type="text" id="name" name="name" value="<%= @kingdom.name %>"><br><br>

  <!-- Add/Remove Existing Citizens To/From Kingdom -->
  <label>Available Citizens</label>
  <ul>
    <%@citizens.each do |citizen|%>
      <li><input type="checkbox" name="citizen_ids[]" id="citizen_<%=citizen.id%>" value="<%=citizen.id%>"><%='checked' if @kingdom.citizens.include?(citizen) %><%=citizen.name%></input></li>
    <%end%>
  </ul>
  <br></br>

  <input type="submit" id="submit" value="Update Kingdom">
</form>

<form action="/kingdoms/<%= @kingdom.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<!-- Create New Citizens To Add To Kingdom -->
