
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h2>List All Kingdoms and Rulers</h2>

<!-- Consider separating in blocks of rulers then kingdoms -->

<ul>
  <% @kingdoms.each do |kingdom| %>
    <li>Kingdom : <a href="/kingdoms/<%= kingdom.slug %>"><%= kingdom.name %></a> || Ruler : <a href="/users/<%= kingdom.user.slug %>"><%= kingdom.user.username %></a></li>
  <% end %>
</ul>
