<h1>Show Specific Kingdom</h1>

Kingdom Attributes : <%= @kingdom.attribute_names %><br>
Kingdom Citizen Attributes : <%= @kingdom.citizens.attribute_names %><br>
User Ids : Kingdom user_id = <%= @kingdom.user.id %> || User = <%= @kingdom.user_id %> || Session = <%= @session[:user_id] %>

<!-- Show Kingdom Info -->

<% if @kingdom.user_id == current_user.id %>
  <!-- NOTE : IN PROGRESS ->> <h3>Welcome <a href="/users/<%= @kingdom.user.slug %>"><%= @kingdom.user.username %></a>,</h3> -->
  <h3>Welcome <%= @kingdom.user.username %>,</h3>
  <h3><%= @kingdom.name %> currently has <%= @kingdom.citizens.count %> citizens!</h3>
  <a href="/kingdoms/<%= @kingdom.slug %>/edit">Modify Kingdom's Citizens</a>


<% else %>
  <h3><%= @kingdom.user.username %> currently has <%= @kingdom.citizens.count %> citizens in <%= @kingdom.name %>!</h3>

<% end %>


<!-- Show Kingdom's Citizens -->
<h4>Current List of Kingdom's Citizens</h4>
<ul>
  <% @kingdom.citizens.each do |citizen| %>
    <li><a href="/citizens/<%= citizen.slug %>"><%= citizen.name %></a>, <%= citizen.role %></li>
  <% end %>
</ul>
